spring:
  application:
    name: blocker
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://bankapp-keycloak:8080/realms/bankapp

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    info:
      enabled: true
    prometheus:
      enabled: true
    metrics:
      enabled: true
    health:
      show-details: always
  zipkin:
    tracing:
      endpoint: http://bankapp-zipkin:9411/api/v2/spans
  tracing:
    sampling:
      probability: 1.0

rsa:
  public-key: classpath:certs/public.pem

server:
  port: 8080

logging:
  level:
    root: INFO
    ru.yandex.practicum.blocker: INFO
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG