image:
  repository: exchange
  tag: latest
  pullPolicy: Never

replicaCount: 1

service:
  type: ClusterIP
  port: 8083

resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "200m"

database:
  host: postgresql-exchange
  port: 5432
  name: exchange_db
  user: exchange_user
  password: exchange_password