spring:
  application:
    name: transfer
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://bankapp-keycloak:8080/realms/bankapp
      client:
        registration:
          keycloak:
            client-id: transfer-client
            client-secret: ${TRANSFER_CLIENT_SECRET}
            authorization-grant-type: client_credentials
            scope: openid
        provider:
          keycloak:
            token-uri: http://bankapp-keycloak:8080/realms/bankapp/protocol/openid-connect/token
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false
        linger.ms: 10
        batch.size: 16384
        acks: 1
        retries: 3

kafka:
  topics:
    notifications: notifications-events

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    info:
      enabled: true
    prometheus:
      enabled: true
    metrics:
      enabled: true
    health:
      show-details: always
  zipkin:
    tracing:
      endpoint: http://bankapp-zipkin:9411/api/v2/spans
  tracing:
    sampling:
      probability: 1.0

rsa:
  public-key: classpath:certs/public.pem

server:
  port: 8080

logging:
  level:
    root: INFO
    ru.yandex.practicum.transfer: INFO
    org.springframework.security: DEBUG