global:
  security:
    allowInsecureImages: true

kafka:
  enabled: true

  image:
    registry: docker.io
    repository: bitnamilegacy/kafka
    tag: 3.9.0-debian-12-r13
    pullPolicy: IfNotPresent

  replicaCount: 1

  kraft:
    enabled: true

  offsetsTopicReplicationFactor: 1
  transactionStateLogReplicationFactor: 1
  transactionStateLogMinIsr: 1

  overrideConfiguration: |
    advertised.listeners=PLAINTEXT://bankapp-kafka:9092
    controller.quorum.voters=0@bankapp-kafka:9093
    controller.listener.names=CONTROLLER
    default.replication.factor=1
    num.partitions=1
    offsets.topic.replication.factor=1
    transaction.state.log.replication.factor=1
    process.roles=broker,controller
    node.id=0

  listeners:
    client:
      name: PLAINTEXT
      protocol: PLAINTEXT
      containerPort: "9092"
    controller:
      name: CONTROLLER
      protocol: PLAINTEXT
      containerPort: "9093"
    interbroker:
      name: INTERNAL
      protocol: PLAINTEXT
      containerPort: "9094"

  persistence:
    enabled: true
    size: 2Gi

  provisioning:
    enabled: true
    topics:
      - name: notifications-events
        partitions: "2"
        replicationFactor: "1"
        config:
          min.insync.replicas: "1"
          retention.ms: "604800000"
      - name: exchange-rates
        partitions: "1"
        replicationFactor: "1"
        config:
          min.insync.replicas: "1"
          retention.ms: "86400000"

  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      cpu: 500m
      memory: 768Mi

  controller:
    replicaCount: 1
    resources:
      limits:
        cpu: 1000m
        memory: 1Gi
      requests:
        cpu: 500m
        memory: 768Mi

  heapOpts: "-Xmx512m -Xms512m"