apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: bankapp-backend-metrics
  namespace: test
  labels:
    release: kube-prometheus-stack
spec:
  selector:
    matchLabels:
      monitoring: enabled
      monitoring-path: standard
  endpoints:
    - port: http
      path: /actuator/prometheus
      interval: 30s