spring:
  application:
    name: notifications
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://bankapp-keycloak:8080/realms/bankapp
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      group-id: notifications-service
      auto-offset-reset: earliest
      enable-auto-commit: true
      auto-commit-interval: 1000
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        isolation.level: read_committed

kafka:
  topics:
    notifications: notifications-events

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

rsa:
  public-key: classpath:certs/public.pem

server:
  port: 8080

logging:
  level:
    root: INFO
    ru.yandex.practicum.notifications: INFO
    org.springframework.security: DEBUG