spring:
  application:
    name: notifications
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://bankapp-keycloak:8080/realms/bankapp

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

rsa:
  public-key: classpath:certs/public.pem

server:
  port: 8080

logging:
  level:
    root: INFO
    ru.yandex.practicum.notifications: INFO
    org.springframework.security: DEBUG