image:
  repository: accounts
  tag: latest
  pullPolicy: Never

replicaCount: 1

service:
  type: ClusterIP
  port: 8080

resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "200m"

database:
  host: postgresql-accounts
  port: 5432
  name: accounts_db
  user: accounts_user
  password: accounts_password

keycloak:
  client:
    secret: ACCOUNTS-client-secret-123456