image:
  repository: accounts
  tag: latest
  pullPolicy: Never

replicaCount: 1

service:
  type: ClusterIP
  port: 8080

resources:
  requests:
    memory: "512Mi"
    cpu: "300m"
  limits:
    memory: "1Gi"
    cpu: "1000m"

database:
  host: bankapp-postgresql-accounts
  port: "5432"
  name: accounts_db
  user: accounts_user
  password: accounts_password

kafka:
  server: kafka:9092

labels:
  app: bankapp
  monitoring: enabled
  monitoring-path: standard